<section class="schools-table-card">

    <div class="table-header">

        <h2>Files To Process</h2>

        <div class="table-toolbar">

    

</div>

    </div>

    <table class="schools-table">

        <thead>

            <tr>

                <th>#</th>

                <th>File Name</th>

                <th>School Name</th>

                <th>Type</th>

                <th>Teachers</th>

                <th>Status</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody id="schoolTableBody">     


            
        </tbody>

    </table>

</section>

